
{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
{% for device in devices %}
    {% if device["description"] != "unassigned" %}
            <div class="panel panel-primary">
                
                <div class="panel-heading">
                    <h3 class="panel-title">{{device["description"]}}</h3>
                </div>
                
                <div class="panel-body">
                    <div class="row">
                          <span class="col-md-1 col-xs-1"></span>
                          <a href="#!" onclick='callService("/rfcontrol/?id={{device["id"]}}&command=on")' class="col-md-4 col-xs-4 btn btn-info btn-lg" role="button">
                                                                <span class="fa fa-sun-o"></span> <br/>On</a>
 
                          <span class="col-md-2 col-xs-2"> </span>                       
                       
                          <a href="#!" onclick='callService("/rfcontrol/?id={{device["id"]}}&command=off")' class="col-md-4 col-xs-4 btn btn-info btn-lg" role="button">
                                                                <span class="fa fa-moon-o"></span> <br/>Off</a>
                          <span class="col-md-1 col-xs-1"></span>
                    </div>                   
                </div>
            </div>
    {% endif %}
{% endfor %}
        </div>
    </div>
</div>
{% endblock %}
